/**
  Нормализация блочной модели
 */
*,
::before,
::after {
    box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
    list-style: none;
}

:where(address[class]) {
    font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
    height: 100%;
    /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
    scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
    scroll-behavior: smooth;
}

body {
    /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
    min-height: 100%;
    /**
    Унифицированный интерлиньяж
   */
    line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
    display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
    cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill="none"],
        [fill^="url"])) {
    fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke="none"],
        [stroke^="url"])) {
    stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
    transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
    border-collapse: collapse;
    border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {

    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

a {
    color: #2C2D35;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.icon-img {
    width: 143px;
    height: 35px;
}

.header {
    max-height: 100px;
    display: flex;
    background-color: #E1EDE6;
    padding-block: 30px;
    width: 100%;
    justify-content: center;
}

nav {
    margin-inline: 15px;
    max-width: 1140px;
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 20px;
    justify-content: space-between;
}


.header-menu-list {
    display: flex;
    column-gap: 58px;
}

.header-menu-item {
    font-weight: 500;
    font-size: 20px;
    color: #2C2D35;
    line-height: 100%;
    transition: 0.3s;
}

.header-menu-item:hover {
    color: #376B44;
    cursor: pointer;
}

.link-square {
    width: 13px;
    height: 13px;
    background-color: #598D66;
    position: absolute;
    border-radius: 50%;
    color: white;
    font-weight: 700;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.section-container-bird {
    display: flex;
    margin-inline: 15px;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
}


.bird-content-container {
    display: flex;
    flex-direction: column;
}

.bird-img {
    width: clamp(240px, 28.12vw, 540px);
    height: clamp(320px, 32.29vw, 620px);
}

.h1-span {
    color: #598D66;
}

.bird-h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 110.00000000000001%;
}

.bird-description {
    color: #86928B;
    line-height: 150%;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 60px;
}

.button {
    transition: 0.3s;
    border: 1px #598D66 solid;
    color: #598D66;
    font-size: 20px;
    font-weight: 500;
    padding-block: 21px;
}

.bird-button {
    background-color: white;
    width: 225px;
    height: 65px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.button:hover {
    color: white;
    background-color: #376B44;
}

.main-section {
    width: 100%;
    max-width: 1140px;
    display: flex;
}

.main-container {
    margin: 20px;
    display: flex;
    row-gap: 20px;
    width: 100%;
    flex-direction: column;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    max-height: 44px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.is-active {
    display: grid !important;
}

.nav-h2 {
    font-size: 40px;
    font-weight: 500;
    color: #2C2D35;
    line-height: 110.00000000000001%;
}

.card-button-item {
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D4E8D9;
    border-radius: 20px;
    width: 126px;
    height: 46px;
    color: #2C2D35;
    transition: 0.3s;
}

.card-button-item:hover {
    background-color: #376B44;
    color: white;
}

.button-active {
    border: 2px solid #598D66;
}

.nav-menu-list {
    display: flex;
    column-gap: 32px;
}

.main-card {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    background-color: #E1EDE6;
    padding: 20px;
    padding-bottom: 30px !important;
    width: 350px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 730px;
}

.autor {
    font-size: 18px;
    color: #86928B;
    margin-bottom: 10px;
    line-height: 100%;
    font-weight: 500;
}

.name {
    line-height: 100%;
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: 500;
    color: #2C2D35;
}

.material {
    line-height: 100%;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    color: #2C2D35;
}

.price {
    color: #598D66;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 20px;
}

.card-button {
    width: 310px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1EDE6;
    border: solid 1px #598D66;
    color: #598D66;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
    line-height: 100%;
}

.card-button:hover {
    background-color: #376B44;
    color: white;
}

.card-img {
    max-width: 290px;
    max-width: 422px;
}

.collection-section {
    width: 100%;
    background-image: url(./img/photo_2024-11-29_23-18-00.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 574px;
    height: 574px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.collection-container {
    width: 100%;
    margin-inline: auto;
    max-width: 1140px;
}

.h2-collection {
    color: #F4F6F5;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 20px;
    background-image: url(./img/Star\ 2.svg);
    background-size: 80, 80;
    background-repeat: no-repeat;
    padding-left: 100px;
}



.collection-description {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 150%;
    max-width: 540px;
    margin-bottom: 60px;
}

.collection-p {
    margin-bottom: 20px;
}

.collection-button {
    background-color: #EEDB6D;
    color: #2C2D35;
    width: 257px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    border: none;
    transition: 0.3s;
}

.collection-button:hover {
    background-color: #D9B949;
    color: #2C2D35;
}

.section-team {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
    column-gap: 30px;
    margin-block: 70px;
}

.section-container {
    padding-top: 124px;
    margin-inline: 15px;
}

.h2-team {
    color: #2C2D35;
    font-size: 40px;
    line-height: 110.00000000000001%;
    font-weight: 500;
    margin-bottom: 20px;
}

.team-description {
    font-size: 18px;
    line-height: 110.00000000000001%;
    font-weight: 500;
    color: #2C2D35;
    margin-bottom: 20px;
    line-height: 150%;
}

.team-menu-list {
    display: flex;
    column-gap: 30px;
}

@media (max-width: 1280px) {
    .header-menu-list {
        column-gap: 30px;
    }

    .section-container-bird {
        column-gap: 10px;
        margin-top: 20px;
    }

    .bird-h1 {
        font-size: 40px;
    }

    .bird-description {
        font-size: 15px;
        margin-bottom: 30px;
    }
}

@media (max-width: 1140px) {
    .main-nav {
        align-items: center;

    }

    .nav-menu-list {
        column-gap: 15px;
    }

    .is-active {
        justify-content: center;
    }

    .main-card {
        grid-template-columns: repeat(2, 0fr);
        gap: 15px;
    }

    .collection-description {
        margin-bottom: 30px;
    }

    .section-team {
        align-items: center;
        margin-block: 40px;
    }

    .section-team-img {
        width: 345px;
        height: 340px;
    }

    .section-container {
        padding-top: 80px;
    }

}


@media (max-width: 737px) {
    .main-card {
        grid-template-columns: repeat(1, 0fr);
        gap: 15px;
    }

    .section-team {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 676px) {
    .header {
        padding-block: 10px;
    }

    nav {
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: center;
    }

    .header-menu-list {
        padding: 7px;
        border-top: 1px solid rgb(208, 208, 208);
        column-gap: 10px;
        flex-wrap: wrap;
    }

    .section-container-bird {
        column-gap: 5px;
    }

    .bird-img {
        display: none;
    }

    .bird-h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .bird-description {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .main-nav {
        max-height: 150px;
    }

    .nav-menu-list {
        flex-wrap: wrap;
        gap: 10px;
    }

    .card {
        width: 300px;
        height: 600px;
    }

    .card-button {
        width: 230px;
        height: 55px;
        margin-inline: auto;
    }

    .material {
        margin-bottom: 10px;
    }

    .card-img {
        margin-inline: auto;
        width: 250px;
        height: 364px;
    }

    .h2-collection {
        background-size: 40px, 40px;
        font-size: 35px;
        padding-left: 50px;
    }

    .collection-description {
        margin-bottom: 15px;
        font-size: 18px;
    }

    .collection-button {
        width: 200px;
        height: 50px;
    }

    .collection-section {
        height: 650px;
    }

    .collection-section {
        padding: 5px;
    }


}